.logo{
    margin: 0px 10px;
    font-family: cursive;
    font-size: 44px;
    color: rgb(52, 190, 190);
    text-decoration: none;
}

.search{
    margin-left: auto;
    margin-right: 10px;
}

.navbar{
    display: flex;
    position: fixed;
    overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

